@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Karla', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body , html{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

ul li a:hover{
    color: yellow;
    transition: 0.5s;
}

/*Navbar*/
.navbar{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
}

ul li a{
    color: whitesmoke;
    text-decoration: none;
}

header{
    width: 100vw;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../img/Bgimage.jpg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2{
    font-size: 5vmin;
    font-family: 'Roboto', sans-serif;
}

.line{
    width: 150px;
    height: 4px;
    background: orangered;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1{
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: orangered;
    border-radius: 30px;
    color: whitesmoke;
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/*Footer*/
footer{
    position: relative;
    width: 100%;
    background:rgb(33, 19, 1);
    min-height: 100px;
    padding: 20px  50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, 
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;

}

footer .social_icon li,
footer .menu li
{
    list-style: none;

}

footer .social_icon li a{
    font-size: 2em;
    color: whitesmoke;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;

}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: whitesmoke;
    margin: 0 15px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-family: 'Poppins', sans-serif;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;

}

.name{
    font-family: 'Poppins', sans-serif;
}

/*Mobile*/

@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(181, 99, 69);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }

    .footer{
        padding: 10px;
    }
}
